{% extends "_templates/_page.html" %}

{% set pageHeading = "Recommend trainees for teacher status" %}
{% set navActive = 'bulk' %}

{% set registeredTrainees = data.filteredRecords | filterByStatus("Draft", true) %}
{% set currentTrainees = registeredTrainees | filterByActive %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ data.signedInProviders | andSeparate }}</span>
        {{ pageHeading }}
      </h1>
      {{ currentTrainees | length }}
    </div>
  </div>

{% endblock %}
