{% extends "_templates/_page.html" %}

{% set pageHeading = "How to update records using spreadsheet software" %}
{% set navActive = 'bulk' %}

{% set registeredTrainees = data.filteredRecords | filterByStatus("Draft", true) %}
{% set currentTrainees = registeredTrainees | filterByActive %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>
    </div>
  </div>

{% endblock %}
