{# Summaries #}

{% set summaryTableRows = [] %}

{% set bursaryTotal = 0 %}
{% for item in data.funding.bursaryPayments %}
  {% set bursaryTotal = bursaryTotal + item.totalBursaryPerSubject %}
{% endfor %}
{% if bursaryTotal > 0 %}
  {% set summaryTableRows = summaryTableRows | push([{text: "ITT bursaries" }, {text: bursaryTotal | currency, format: "numeric"}]) %}
{% endif %}

{% set scholarshipTotal = 0 %}
{% for item in data.funding.scholarshipPayments %}
  {% set scholarshipTotal = scholarshipTotal + item.totalscholarshipPerSubject %}
{% endfor %}
{% if scholarshipTotal > 0 %}
  {% set summaryTableRows = summaryTableRows | push([{text: "ITT scholarships" }, {text: scholarshipTotal | currency, format: "numeric"}]) %}
{% endif %}

{% set eyIttBursaryTotal = 0 %}
{% for item in data.funding.eyIttBursaries %}
  {% set eyIttBursaryTotal = eyIttBursaryTotal + (item.tierAmount * item.numberOfTrainees) %}
{% endfor %}
{% if eyIttBursaryTotal > 0 %}
  {% set summaryTableRows = summaryTableRows | push([{text: "Early years ITT bursaries" }, {text: eyIttBursaryTotal | currency, format: "numeric"}]) %}
{% endif %}

{% set eyIttGrantsTotal = 0 %}
{% for item in data.funding.eyIttGrants %}
  {% set eyIttGrantsTotal = item.numberOfTrainees * item.grantAmount %}
{% endfor %}
{% if eyIttGrantsTotal > 0 %}
  {% set summaryTableRows = summaryTableRows | push([{text: "Early years ITT grants" }, {text: eyIttGrantsTotal | currency, format: "numeric"}]) %}
{% endif %}

{% set academicYearTotal = 0 %}
{% set academicYearTotal = bursaryTotal + scholarshipTotal %}
{% set summaryTableRows = summaryTableRows | push([{text: "Total" }, {text: academicYearTotal | currency, format: "numeric"}]) %}

{# Bursary breakdown #}

{% set bursaryTableRow = [] %}
{% set bursaryTableRows = [] %}

{% for item in data.funding.bursaryPayments %}
  {% if item.numberOfTrainees > 0 %}
    {% set bursaryTableRow = bursaryTableRow | push({ text: item.subject }) %}
    {% set bursaryTableRow = bursaryTableRow | push({ text: item.route }) %}
    {% if item.leadSchool != "" %}
      {% set bursaryTableRow = bursaryTableRow | push({ text: item.leadSchool }) %}
    {% else %}
      {% set bursaryTableRow = bursaryTableRow | push({ text: "–"}) %}
    {% endif %}
    {% set bursaryTableRow = bursaryTableRow | push({ text: item.numberOfTrainees, format: "numeric" }) %}
    {% set bursaryTableRow = bursaryTableRow | push({ text: item.bursaryValue | currency, format: "numeric" }) %}
    {% set bursaryTableRow = bursaryTableRow | push({ text: item.totalBursaryPerSubject | currency, format: "numeric" }) %}
    {% set bursaryTableRows = bursaryTableRows | push(bursaryTableRow) %}
    {% set bursaryTableRow = [] %}
  {% endif %}
{% endfor %}

{# ITT scholarships #}

{% set scholarshipTableRow = [] %}
{% set scholarshipTableRows = [] %}

{% for item in data.funding.scholarshipPayments %}
  {% if item.numberOfTrainees > 0 %}
      {% set scholarshipTableRow = scholarshipTableRow | push({ text: item.subject }) %}
      {% set scholarshipTableRow = scholarshipTableRow | push({ text: item.route }) %}
      {% if item.leadSchool != "" %}
        {% set scholarshipTableRow = scholarshipTableRow | push({ text: item.leadSchool }) %}
      {% else %}
        {% set scholarshipTableRow = scholarshipTableRow | push({ text: "–"}) %}
      {% endif %}
      {% set scholarshipTableRow = scholarshipTableRow | push({ text: item.numberOfTrainees, format: "numeric" }) %}
      {% set scholarshipTableRow = scholarshipTableRow | push({ text: item.scholarshipValue | currency, format: "numeric" }) %}
      {% set scholarshipTableRow = scholarshipTableRow | push({ text: item.totalscholarshipPerSubject | currency, format: "numeric" }) %}
      {% set scholarshipTableRows = scholarshipTableRows | push(scholarshipTableRow) %}
      {% set scholarshipTableRow = [] %}
  {% endif %}
{% endfor %}

{# Early years ITT bursaries #}

{% set eyIttBursaryRows = [] %}
{% for item in data.funding.eyIttBursaries %}

  {% set tierAmount = item.tierAmount | currency %}
  {% if tierAmount == "£0" %}
    {% set tierAmount = "–" %}
  {% endif %}

  {% set tierTotal = (item.tierAmount * item.numberOfTrainees) | currency %}
  {% if tierTotal == "" %}
    {% set tierTotal = "–" %}
  {% endif %}

  {% set rowItems = [
      { text: item.tier },
      { text: item.numberOfTrainees,
        format: "numeric" },
      { text: tierAmount,
        format: "numeric" },
      { text: tierTotal,
        format: "numeric" }
    ] %}

    {% set eyIttBursaryRows = eyIttBursaryRows | push(rowItems) %}
{% endfor %}

{# Early years ITT grants #}

{% set eyIttGrantRows = [] %}
{% for item in data.funding.eyIttGrants %}
  {% set rowItems = [
      { text: item.numberOfTrainees }, 
      { text: item.grantAmount | currency },
      { text: (item.numberOfTrainees * item.grantAmount) | currency }
    ]%}
  {% set eyIttGrantRows = eyIttGrantRows | push(rowItems) %}
{% endfor %}

{# Page content #}

{% set yearPaymentsTabName = "" | getFundingStreams %}

{% set yearPaymentsTabName = yearPaymentsTabName | joinify %}

{% extends "layout.html" %}

{% set navActive = "funding" %}
{% set pageHeading = "Funding 2021 to 2022" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">{{ data.signedInProviders | andSeparate }}</span>
      <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>
    </div>
  </div>

  {{ appSubNavigation({
    label: 'Sub navigation',
    classes: 'govuk-!-margin-bottom-4',
    items: [{
      text: 'Monthly payments',
      href: "/funding/monthly-payments",
      active: false
    },
    {
      text: yearPaymentsTabName | sentenceCase,
      href: '/funding/academic-year-payments',
      active: true
    }
    ]
  }) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h2 class="govuk-heading-l">
      {{ yearPaymentsTabName | sentenceCase }}
    </h2>
    <p class="govuk-body govuk-!-margin-bottom-1">
      Last updated: {{ "" | yesterdayGovuk }}
    </p>
    <p>
      <a href="govuk-link--no-visited-state">Export {{ yearPaymentsTabName }}</a>
    </p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half-from-desktop govuk-!-margin-top-2">
      {{ govukTable({
      caption: "Bursary and scholarships",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      head: [
        {
          text: "Payment type"
        },
        {
          text: "Amount",
          classes: "app-table__column-25"
        }
      ],
      rows: summaryTableRows
    }) }}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ govukTable({
      caption: "ITT bursaries",
      captionClasses: "govuk-table__caption--m",
      head: [
        { text: "Subject",            classes: "app-table__column-16" },
        { text: "Route",              classes: "app-table__column-16" },
        { text: "Lead school",        classes: "app-table__column-16" },
        { text: "Number of trainees", classes: "app-table__column-16" },
        { text: "Amount per trainee", classes: "app-table__column-16" },
        { text: "Total per subject",  classes: "app-table__column-16" }
      ],
      rows: bursaryTableRows
    }) }}

    {{ govukTable({
      caption: "ITT scholarships",
      captionClasses: "govuk-table__caption--m",
      head: [
        { text: "Subject",            classes: "app-table__column-16" },
        { text: "Route",              classes: "app-table__column-16" },
        { text: "Lead school",        classes: "app-table__column-16" },
        { text: "Number of trainees", classes: "app-table__column-16" },
        { text: "Amount per trainee", classes: "app-table__column-16" },
        { text: "Total per subject",  classes: "app-table__column-16" }
      ],
      rows: scholarshipTableRows
    }) }}

    {{ govukTable({
      caption: "Early years ITT bursaries",
      captionClasses: "govuk-table__caption--m",
      head: [
        { text: "Bursary tier" },
        { text: "Number of trainees", classes: "app-table__column-16" },
        { text: "Amount per trainee", classes: "app-table__column-16" },
        { text: "Total per tier",     classes: "app-table__column-16" }
      ],
      rows: eyIttBursaryRows
    }) }}

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half-from-desktop">

    {{ govukTable({
      caption: "Early years ITT grants",
      captionClasses: "govuk-table__caption--m",
      head: [
        { text: "Number of trainees" },
        { text: "Amount per trainee" },
        { text: "Total" }
      ],
      rows: eyIttGrantRows
    }) }}

  </div>
</div>

{% endblock %}
