{% extends "_templates/_page.html" %}

{% set pageHeading = "Make a change to your pending updates" %}
{% set navActive = 'bulk' %}

{% set currentTrainees = data.filteredRecords | filterByStatus("Draft", true) | filterByActive %}

{% set traineesThatCanBeUpdated = currentTrainees | filterByIncomplete | filterOutEarlyYears | filterByStatus(["Deferred", "Withdrawn"], true) %}
{% set traineesThatCannotBeUpdatedCount = (currentTrainees | filterByIncomplete | length) - (traineesThatCanBeUpdated | length ) %}

{% set bulkPath = "add-details" %}

{% block content %}

  {% include "_includes/bulk-action--fix-pending-updates.html" %}

{% endblock %}


