<h1 class="govuk-heading-l">{{pageHeading}}</h1>
{% set bursary = record | getBursary %}

<p class="govuk-body">
  The course you have selected has a bursary available of {{record | getBursaryValue | currency }} for {{ bursary.subject | dynamicLowercase }}. You need to check if the trainee is eligible for this bursary.
</p>

<p class="govuk-body"><a href="https://www.gov.uk/government/publications/initial-teacher-training-itt-bursary-funding-manual/initial-teacher-training-bursaries-funding-manual-2021-to-2022-academic-year#training-bursary-award-and-eligibility" class="govuk-link" rel="noreferrer noopener" target="_blank">DfE bursary guidance for academic year 2021 to 2022 (opens in new tab)</a></p>


{{ govukRadios({
  fieldset: {
    legend: {
      text: "Are you applying for a bursary for this trainee?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      text: "Yes, apply for a bursary",
      value: "false"
    },
    {
      text: "No, the trainee is self funded, not eligible or has a scholarship",
      text: "No, do not apply for a bursary",
      value: "true",
      hint: {
        text: "For example, the trainee is not eligible or has applied for a scholarship."
      }
    }
  ]
} | decorateAttributes(record, "record.funding.bursary.selfFunded")) }}


{{ govukButton({
  text: "Continue"
}) }}
