{% set invalidAnswerCount = record | countInvalidAnswers %}

{% set bannerHtml %}
  {# <h2 class="govuk-heading-m">Action required</h2> #}

  <p class="govuk-body">This {{ invalidAnswerType or "section" }} contains {{invalidAnswerCount}} {{ 'answer' | pluralise(invalidAnswerCount)}} that you need to amend. This is because they were entered in a free text format.</p> 
  
  {% if data.temp.invalidAnswers %}
    <ul class="govuk-list app-invalid-answer__list">
      {% for invalidAnswer in data.temp.invalidAnswers %}
        <li>
          <a href="#{{invalidAnswer.id}}">{{invalidAnswer.name}}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

{% endset %}

{# {{ appBanner({
  classes: "app-banner--invalid-answer",
  html: bannerHtml,
  type: incompleteType or "information",
  icon: false
}) }} #}


{{ govukNotificationBanner({
  html: bannerHtml
}) }}
