<h1 class="govuk-heading-l">{{pageHeading}}</h1>

{% set hasMultipleSubjects = record.courseDetails.subjects | length > 1 %}

{{ appAutocomplete({
  label: {
    text: "Subject",
    classes: "govuk-label--s"
  },
  hint: {
    text: 'Select the closest matching subject'
  },
  id: 'subject_1',
  minLength: 2,
  autoSelect: true,
  showAllValues: false,
  classes: "app-!-autocomplete--max-width-two-thirds",
  name: "record[courseDetails][subjects][first]",
  items: data.ittSubjects,
  value: record.courseDetails.subjects.first
  }
) }}

{% set multipleSubjectsHtml %}

  <p class="govuk-body">The first subject is the main one. It represents the bursary or scholarship available if applicable.</p>

  {% for item in [2,3] %}

    {# 'second' or 'third' #}
    {% set ordinal = item | getOrdinalName %}

    {% set label %}
      {{ ordinal | sentenceCase }} subject (optional)
    {% endset %}

    {{ appAutocomplete({
      label: {
        text: label,
        classes: "_govuk-label--s"
      },
      hint: {
        text: 'Select the closest matching subject'
      },
      id: 'subject_' + (loop.index + 1),
      minLength: 2,
      autoSelect: true,
      showAllValues: false,
      allowEmpty: true,
      classes: "app-!-autocomplete--max-width-two-thirds",
      name: "record[courseDetails][subjects][" + ordinal + "]",
      items: data.ittSubjects,
      value: record.courseDetails.subjects[ordinal]
      }
    ) }}
  {% endfor %}
{% endset %}

{{ govukDetails({
  summaryText: "Add additional subjects",
  html: multipleSubjectsHtml,
  open: true if hasMultipleSubjects
}) }}

{# These account for 91% of choices #}
{% set commonAgeRanges = [
  "3 to 11",
  "5 to 11",
  "11 to 16",
  "11 to 19"
  ] %}

{# Create radio items for each #}
{% set ageRangeRadioItems = [] %}
{% for ageRange in commonAgeRanges %}
  {% set ageRangeRadioItems = ageRangeRadioItems | push({
    text: ageRange
  }) %}
{% endfor %}

{% set uncommonAgeRanges = data.assessmentOnlyAgeRanges | removeArrayItems(commonAgeRanges) %}

{# Prefil existing answer #}
{% set ageRangeExistingValue = record.courseDetails.ageRange %}
{% if ageRangeExistingValue in commonAgeRanges %}
  {% set ageRangeExistingValue = undefined %}
{% endif %}

{% set ageRangeAutocomplete %}
  {{ appAutocomplete({
    label: {
      text: "Other age range",
      classes: "govuk-label--s"
    },
    id: 'age-range',
    name: "record[courseDetails][ageRangeOther]",
    classes: "app-!-autocomplete--max-width-one-third",
    items: uncommonAgeRanges,
    value: ageRangeExistingValue
    }
  ) }}
{% endset %}

{% set ageRangeRadioItems = ageRangeRadioItems | combineArrays(
  [{
    divider: 'or'
  },
  {
    text: "Other age range",
    checked: 'checked' if ageRangeExistingValue,
    conditional: {
      html: ageRangeAutocomplete
    }
  }]
) %}

{{ govukRadios({
  fieldset: {
    legend: {
      text: "Age range",
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: ""
  },
  items: ageRangeRadioItems
} | decorateAttributes(record, "record.courseDetails.ageRange")) }}

{% set programmeStartDateArray = record.courseDetails.startDate | toDateArray %}

{{ govukDateInput({
  id: "programme-start-date",
  namePrefix: "record[courseDetails][startDate]",
  fieldset: {
    legend: {
      text: "Course start date",
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: "For example, " + "" | today | toDateArray | spaceSeparate
  },
  items: [
      {
        name: "day",
        classes: "govuk-input--width-2",
        value: programmeStartDateArray["0"]
      },
      {
        name: "month",
        classes: "govuk-input--width-2",
        value: programmeStartDateArray["1"]
      },
      {
        name: "year",
        classes: "govuk-input--width-4",
        value: programmeStartDateArray["2"]
      }
    ]
}) }}

{% set programmeEndDateArray = record.courseDetails.endDate | toDateArray %}
{{ govukDateInput({
  id: "programme-end-date",
  namePrefix: "record[courseDetails][endDate]",
  fieldset: {
    legend: {
      text: "Course end date",
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: "For example, " + "" | today | moment('add', 1, 'years') | toDateArray | spaceSeparate
  },
  items: [
      {
        name: "day",
        classes: "govuk-input--width-2",
        value: programmeEndDateArray["0"]
      },
      {
        name: "month",
        classes: "govuk-input--width-2",
        value: programmeEndDateArray["1"]
      },
      {
        name: "year",
        classes: "govuk-input--width-4",
        value: programmeEndDateArray["2"]
      }
    ]
}) }}


{{ govukButton({
  text: "Continue"
}) }}






