.app-application-card {
  margin-bottom: govuk-spacing(3);
  padding-bottom: govuk-spacing(3);
  border-bottom: 1px solid govuk-colour('mid-grey');

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: repeat(2, 1fr);
  h3.app-application-card__trainee-name {
    grid-column-start: 1;
    grid-column-end: span 4;
  }
  span.govuk-tag.app-tag--record-incomplete {
    grid-column-start: 5;
    grid-column-end: 5;
  span.govuk-tag {
    grid-column-start: 6;
    grid-column-end: 6;
  }
  }
}

.app-application-card:first-of-type {
  border-top: 1px solid govuk-colour('mid-grey');
  padding-top: govuk-spacing(3);
}




// Checkbox column
// This column isnt always shown - is dependeant on a feature flag 
.app-application-card_col:nth-last-child(3) {
  @include govuk-media-query($from: tablet) {
    width: 5%;
    padding-right: govuk-spacing(2);
  }
}

// Helpers

.app-application-card__trainee-name {
  hyphens: auto;
}

.app-application-card__provider {
  overflow-wrap: break-word;
}

.app-application-card__submitted {

  @include govuk-media-query($from: 401px) {
    span {
      display: block;
    }
  }
}
