$invalid-colour: $govuk-brand-colour;

.app-inset-text--invalid-answer {
  border-color: $invalid-colour;  
}

.app-has-errors {
  .app-inset-text--invalid-answer, .app-summary-list__value-inset {
    border-color: $govuk-error-colour;  
  }
  .app-summary-list__message--invalid {
    color: $govuk-error-colour;
  }

  // If we want red links
  // .app-summary-list__link--invalid {
  //   color: $govuk-error-colour;
  // }

}

.app-inset-text--narrow {
  border-width: 5px;
}

.app-inset-text--invalid-answer__heading {
  color: $invalid-colour;
}

.app-tag--pink-inverted {
  background: govuk-shade(govuk-colour("pink"), 10);
  color: govuk-tint(govuk-colour("pink"), 90);
}

.app-invalid-answer__list a:link {
  font-weight: 700;
}

.app-summary-list__value--inset {
  color: $govuk-secondary-text-colour;
  border-left: 5px solid $govuk-border-colour;
  padding-left: 15px
}

.app-summary-list__value--invalid {
  border-left: 5px solid $invalid-colour;
}

.app-summary-list__message {
  color: $govuk-secondary-text-colour;
  // @include govuk-typography-weight-bold;
}

.app-summary-list__message--invalid {
  color: $invalid-colour;
  @include govuk-typography-weight-bold;
}

.app-invalid-answer .govuk-error-message {
  color: $invalid-colour;
}

.app-invalid-answer .govuk-error-message {
  color: $invalid-colour;
}

.app-invalid-answer .govuk-form-group--error {
  border-color: $invalid-colour;
}


.app-summary-list__user-value {
  margin-bottom: 5px;
}
