{% set filteredRecords = data.records | filterRecords(data) %}
{% set currentTrainees = filteredRecords | filterByStatus("Draft", true) | filterByActive %}
{% set incompleteTrainees = currentTrainees | filterByIncomplete %}
<p class="govuk-body">
  You have {{ incompleteTrainees | length }} trainees with incomplete records.
</p> 
<p class="govuk-body">
  Not all trainee records can be updated in bulk and you may need to add information to these records individually.
</p>
<p class="govuk-body">
  <a href="/records?%5BfilterCompleteStatus%5D=Incomplete">View incomplete trainees records</a>
</p>
