
{# All routes have initiatives #}
{% set initiativeRow = {
  key: {
    text: "Training initiative"
  },
  value: {
    text: record.finance.initiative or "Not provided"
  },
  actions: {
    items: [
      {
        href: recordPath + "/finance/initiatives" | addReferrer(referrer),
        text: "Change",
        visuallyHiddenText: "training initiative"
      }
    ]
  } if canAmend
} %}

{# Bursaries #}

{% set bursary = record.finance.bursary %}

{% set courseFundingHtml %}
  {% if bursary.selfFunded == 'true' %}
    Self funded (non bursary)
  {% elseif bursary.selfFunded == 'false' %}
    Bursary applied for
    <p class="govuk-hint">{{record | getBursaryValue | currency }} estimated bursary</p>
  {% else %}
    Not provided
  {% endif %}
{% endset %}

{% if record | bursariesApply %}

  {% set courseFundingRow = {
    key: {
      text: "Bursary funding"
    },
    value: {
      text: courseFundingHtml | safe or "Not provided"
    },
    actions: {
      items: [
        {
          href: recordPath + "/finance/funding" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "bursary details"
        }
      ]
    } if canAmend
  } %}

{% else %}

  {% set courseFundingRow = {
    key: {
      text: "Bursary funding"
    },
    value: {
      text: "Bursary not applicable for course"
    }
  } %}
  
{% endif %}


{# {% set degrees = record.degree.items %}
{% set degreeCount = degrees | length %}
{% set degreesRequired = record | requiresSection("degree") %}

{% if degreeCount > 1 %}

  {% set bursaryDegree = record.degree.items | find('id', record.degree.degreeToBeUsedForBursaries) %}

  {% if bursaryDegree %}
    {% set bursaryHtml %}
      <p class="govuk-body">{{ bursaryDegree | getDegreeName }}</p>
      <span class="govuk-hint">{{ bursaryDegree | getDegreeHint }}</span>
    {% endset %}
  {% elseif record.degree.degreeToBeUsedForBursaries %}
    {% set bursaryHtml = "Not provided" %}
  {% endif %}

  {% set bursaryDegreeRow = {
    key: {
      text: "Degree that relates to awarded bursary"
    },
    value: {
      html: bursaryHtml or "Not provided"
    },
    actions: {
      items: [
        {
          href: recordPath + "/degree/bursary-selection" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "address"
        }
      ]
    } if canAmend 
  }
  %}
  
{% endif %} #}


{% set financeRows = [
  initiativeRow,
  courseFundingRow
] %}

{#   bursaryValueRow if routeHasBursaries and not isSelfFunded,
  bursaryDegreeRow if (routeHasBursaries and not isSelfFunded and bursaryDegreeRow) #}

{% set financeHtml %}
  {{ govukSummaryList({
    rows: financeRows
  }) }}
{% endset %}



{% set complete = true if (record.finance | sectionIsCompleted ) %}
{% set status  = record.finance | getStatusText %}
{% set sectionIsRequired = record | requiresSection("finance") %}

{% if not sectionIsRequired %}
  {# Section not required #}
{% elseif showIncomplete and not complete %}

  {% set incompleteType = "warning" if errorList %}
  {% set incompleteId = "finance" %}
  {% if status == "In progress" %}
    {% set incompleteText = "Finance section not marked as complete" %}
    {% set incompleteLink = recordPath + "/finance/confirm" | addReferrer(referrer) %}
    {% set incompleteLinkText = "Continue section" %}
  {% elseif not record | canStartFinanceSection %}
    {% set incompleteText = "Finance section cannot be started yet" %}
    {% set incompleteLink = recordPath + "/finance" | addReferrer(referrer) %}
    {% set incompleteLinkText = "Review section" %}
  {% else %}
    {% set incompleteText = "Finance section not started" %}
    {% set incompleteLink = recordPath + "/finance" | addReferrer(referrer) %}
    {% set incompleteLinkText = "Start section" %}
  {% endif %}

  {% include "_includes/incomplete.njk" %}

{% else %}

  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    titleText: "Finance",
    html: financeHtml
  }) }}

{% endif %}
