{% set years = [] %}

{% for year in data.years.academicYears %}

  {% if showDefaultVisibleYears and year in data.years.defaultVisibleYears %}
    {% set isChecked = checked(query.filterCycle, year) if query.filterCycle else 'checked' %}
  {% else %}
    {% set isChecked = checked(query.filterCycle, year) %}
  {% endif %}

  {% set years = years | push({
    text: year,
    checked: isChecked
  }) %}

{% endfor %}


{{ govukCheckboxes({
  classes: "govuk-checkboxes--small js-auto-submit",
  fieldset: {
    legend: {
      text: "Start year",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: years
} | decorateAttributes(data, "data.filterCycle"))}}
