<h1 class="govuk-heading-l">{{pageHeading}}</h1>

{% set degreeCount = record.degree.items | length %}
{% if degreeCount < 1 %}
{# {% if degreeCount < 1 and action == "add" %} #}
  {# {% set ukHintText = "For example, BA, BSc or other (please specify)" %} #}
  {% set ukHintText = "For example, BA or BSc" %}
{% else %}
  {% set ukHintText = "For example, BA, BSc, Masters or PhD" %}
{% endif %}


{# Degree country #}
{{ appAutocomplete({
  label: {
    text: "In which country is the degree institution based?",
    classes: "govuk-label--s"
  },
  id: 'degree-country',
  name: "degreeTemp[country]",
  items: data.countries,
  classes: "app-!-autocomplete--max-width-two-thirds",
  value: degreeTemp.country,
  minLength: 2,
  autoSelect: true,
  showAllValues: false
  }
) }}

{# Degree subject #}
{% set degreeSubjectHtml %}
  {{ appAutocomplete({
    label: {
      text: "Degree subject",
      classes: "govuk-label--s"
    },
    hint: {
      text: 'Search for the closest matching subject'
    },
    id: 'subject',
    autoSelect: true,
    showAllValues: false,
    minLength: 2,
    name: "degreeTemp[subject]",
    items: data.subjects,
    classes: "app-!-autocomplete--max-width-two-thirds",
    value: degreeTemp.subject
    } | highlightInvalidInputs
  ) }}
{% endset %}

{{ appInvalidAnswer({html: degreeSubjectHtml})}}

{# Degree type / ENIC #}
{% set enicItems = [] %}
{% for enicItem in data.ukComparableDegrees %}
  {% set enicItems = enicItems | push({
    text: enicItem,
    checked: checked(degreeTemp.type, enicItem)
  }) %}
{% endfor %}
{% set enicItems = enicItems | push({divider: 'or'}) %}
{% set enicItems = enicItems | push({text: 'UK ENIC not provided'}) %}

{{ govukRadios({
  fieldset: {
    legend: {
      text: "Select the UK ENIC comparable degree",
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: "Formerly UK NARIC"
  },
  items: enicItems
} | decorateAttributes(degreeTemp, "degreeTemp.typeInt")) }}

{# Graduation year #}
{{ govukInput({
  label: {
    text: "Graduation year",
    classes: "govuk-label--s"
  },
  id: "degree-start-date",
  name: "degreeTemp[endDate]",
  value: degreeTemp.endDate,
  classes: "app-!-max-width-one-quarter"
}) }}


{{ govukButton({
  text: "Continue"
}) }}
