{% extends "layout.html" %}

{% set navActive = "home" %}
{% set applyDraftCount = data.filteredRecords | where('status', 'Apply draft') | length %}
{% set recordsToBeReviewedCount = 11 %}
{% set combinedAlertCount = applyDraftCount + recordsToBeReviewedCount %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full app-dashboard-header">
        <h1 class="govuk-heading-l">Trainee teacher dashboard</h1>
        {{ govukButton({
          text: "Add a trainee",
          href: "./new-record/new"
        }) }}
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter-from-desktop">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="/records" class="govuk-link govuk-link--no-visited-state">Trainee records</a></h2>
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">Review and manage your trainee records.</p>
        {% if data.settings.includeGuidance %}
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="/guidance" class="govuk-link govuk-link--no-visited-state">Guidance</a></h2>
          <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">Service guidance for each route.</p>
        {% endif %}
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="#" class="govuk-link govuk-link--no-visited-state">Give feedback</a></h2>
        <p class="govuk-body  govuk-!-font-size-16 govuk-!-margin-bottom-1">This is a new service. Your views will help us improve it.</p>
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="/data-requirements" class="govuk-link govuk-link--no-visited-state">Check what data you need</a></h2>
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">The data you need to complete a trainee record.</p>
        <div class="app-action-required-item govuk-!-margin-top-2" style="flex-direction: row-reverse">
          <span class="app-action-required-item__count govuk-!-margin-right-7" style="width: 30px; height: 30px; font-size: 19px">2</span>
          <div class="app-action-required-item__content">
            <a href="/notifications" class="govuk-link app-action-required-item__text">Notifications</a>
          </div>
        </div>
      </div>
      <div class="govuk-grid-column-three-quarters-from-desktop">

        {# {% if data.settings.showRequiresAttentionSection and combinedAlertCount > 0 %}
          <h2 class="govuk-heading-m">Requires action</h2>
          {% if applyDraftCount > 0 %}
            <div class="app-action-required-item">
              <span class="app-action-required-item__count">{{applyDraftCount}}</span>
              <div class="app-action-required-item__content">
                <a href="/records?filterStatus=Draft" class="govuk-link app-action-required-item__text">Apply drafts ready for review</a>
                <span class="app-action-required-item__hint-text govuk-hint govuk-!-font-size-16">These are candidates who have recenlty applied to a course</span>
              </div>
            </div>
          {% endif %}
          {% if recordsToBeReviewedCount > 0 %}
            <div class="app-action-required-item">
              <span class="app-action-required-item__count">{{recordsToBeReviewedCount}}</span>
              <div class="app-action-required-item__content">
                <a href="#" class="govuk-link app-action-required-item__text">records for review before cycle ends</a>
                <span class="app-action-required-item__hint-text govuk-hint govuk-!-font-size-16">The cycle ends on August 27 2021</span>
              </div>
            </div>
          {% endif %}
        {% endif %}

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> #}

        <h2 class="govuk-heading-m">Your total trainees</h2>

        <div class="govuk-grid-row govuk-!-margin-bottom-6">
          <div class="govuk-grid-column-full">
            <a href="" class="status-card status-card--pink">
                <span class="status-card__count">247</span>
                <span class="status-card__status">Total trainees</span> <span class="govuk-visually-hidden"> records. View these records.</span>
            </a>
          </div>
        </div>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        {% set records = data.filteredRecords | filterByYear(data.currentYear)  %}

        {% macro statusCard(records, status) %}
          <a href="/records?filterStatus={{status}}" class="status-card status-card--{{status | lower | kebabCase }} status-card--small">
            {# Special handling for drafts which have two string names #}
            {% if status == "Draft" %}
              {% set searchStatus = ["Draft", "Apply draft"] %}
            {% else %}
              {% set searchStatus = status %}
            {% endif %}
            {% set recordCount = records | where("status", searchStatus) | length %}
            <span class="status-card__count">{{recordCount}}</span>
            <span class="status-card__status">{{status}}</span><span class="govuk-visually-hidden"> records. View these records.</span>
          </a>
        {% endmacro %}

        <h2 class="govuk-heading-m">Your 2020/21 trainees</h2>

        <div class="home-statuses">
          <div class="govuk-grid-row govuk-!-margin-bottom-3">
            {% set statuses = ['Draft', 'Pending TRN', 'TRN received'] %}
            {% for status in statuses %}
              <div class="govuk-grid-column-one-third">
                {{ statusCard(records, status) }}
              </div>
            {% endfor %}
          </div>

          {% set eytsCount = records | where("status", ['EYTS recommended', 'EYTS awarded']) | length %}
          {% set qtsCount = records | where("status", ['QTS recommended', 'QTS awarded']) | length %}
          
          {% if eytsCount == 0 %}
            <div class="govuk-grid-row govuk-!-margin-bottom-3 home-statuses__flex-row">
              {% set statuses = ['QTS recommended','QTS awarded'] %}
              {% for status in statuses %}
                <div class="govuk-grid-column-one-half">
                  {{ statusCard(records, status) }}
                </div>
              {% endfor %}
            </div>
            <div class="govuk-grid-row govuk-!-margin-bottom-3 home-statuses__flex-row">
              {% set statuses = ['Deferred', 'Withdrawn'] %}
              {% for status in statuses %}
                <div class="govuk-grid-column-one-half">
                  {{ statusCard(records, status) }}
                </div>
              {% endfor %}
            </div>
          {% elseif qtsCount == 0 %}
            <div class="govuk-grid-row govuk-!-margin-bottom-3 home-statuses__flex-row">
              {% set statuses = ['EYTS recommended', 'EYTS awarded', 'Deferred', 'Withdrawn'] %}
              {% for status in statuses %}
                <div class="govuk-grid-column-one-half">
                  {{ statusCard(records, status) }}
                </div>
              {% endfor %}
            </div>
          {% else %}
            <div class="govuk-grid-row govuk-!-margin-bottom-3 home-statuses__flex-row">
              <div class="govuk-grid-column-one-half">
                <a href="/records?filterStatus=EYTS recommended&filterStatus=QTS recommended" class="status-card status-card--recommended">
                  {% set recordCount = records | where("status", ['EYTS recommended','QTS recommended']) | length %}
                  <span class="status-card__count">{{recordCount}}</span>
                  <span class="status-card__status">Qualification recommended</span> <span class="govuk-visually-hidden"> records. View these records.</span>
                </a>
              </div>
              <div class="govuk-grid-column-one-half">
                <a href="/records?filterStatus=EYTS awarded&filterStatus=QTS awarded" class="status-card status-card--awarded">
                  {% set recordCount = records | where("status", ['EYTS awarded','QTS awarded']) | length %}
                  <span class="status-card__count">{{recordCount}}</span>
                  <span class="status-card__status">Qualification awarded</span><span class="govuk-visually-hidden"> records. View these records.</span>
                </a>
              </div>
              {% set statuses = ['Deferred', 'Withdrawn'] %}
              {% for status in statuses %}
                <div class="govuk-grid-column-one-quarter">
                  {{ statusCard(records, status) }}
                </div>
              {% endfor %}
            </div>
          {% endif %}

        </div>
      <div>

    </div>
    
    {# <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">Another section</h2>

    <div class="govuk-grid-row govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-one-half">
        <a href="" class="status-card status-card--pink status-card--small">
          <span class="status-card__count govuk-!-font-size-36">3</span>
          <span class="status-card__status">items of a thing</span> <span class="govuk-visually-hidden"> records. View these records.</span>
        </a>
      </div>
      <div class="govuk-grid-column-one-half">
        <a href="" class="status-card status-card--pink status-card--small">
          <span class="status-card__count govuk-!-font-size-36">23</span>
          <span class="status-card__status">items of a thing</span> <span class="govuk-visually-hidden"> records. View these records.</span>
        </a>
      </div>
    </div> #}

  </div>
</div>



{% endblock %}
