{% extends "layout.html" %}

{% set navActive = "home" %}
{% set totalDraftCount = data.filteredRecords | where("status", ["Draft", "Apply draft"] ) | length %}
{% set applyDraftCount = data.filteredRecords | where('status', 'Apply draft') | length %}
{% set recordsToBeReviewedCount = 0 %}
{% set combinedAlertCount = applyDraftCount + recordsToBeReviewedCount %}
{% set pageHeading = "Your trainee teachers" %}

{% set records = data.filteredRecords | filterByYear(data.years.currentAcademicYear) %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">{{ data.signedInProviders | andSeparate }}</span>
      <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>
      <h2 class="govuk-heading-l">Draft trainees</h2>
      <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-0">
        {% if totalDraftCount != applyDraftCount %}
          <li><a class="govuk-link" href="/drafts">See all draft trainees ({{ totalDraftCount }})</a></li>
        {%  endif %}
        {% if applyDraftCount > 0 %}
          <li><a class="govuk-link" href="/drafts?filterSource=Apply">See draft trainees imported from Apply ({{applyDraftCount}})</a></li>
        {% endif %}
        <li class="govuk-!-margin-bottom-0"><a class="govuk-link" href="/new-record/new">Add a trainee</a></li>
      </ul>
    </div>
    <div class="govuk-grid-column-full">
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h2 class="govuk-heading-l">Registered trainees</h2>
      <p class="govuk-body">
        <a class="govuk-link" href="/records?filterCycle=_unchecked">See all registered trainees ({{ data.filteredRecords | filterByStatus("Draft", true)  | length}})</a>
      </p>
      <h3 class="govuk-heading-m">
        2020 to 2021 trainees
        <span class="govuk-body">
        {# TO DO – add number of records here #}
           –  <a class="govuk-link" href="/records?filterCycle=2020+to+2021">see all<span class="govuk-visually-hidden">
            2020 to 2021 trainees</span> ({{ data.filteredRecords | filterByYear(["2020 to 2021"]) | filterByStatus("Draft", true)  | length}})
            </a>
        </span>
      </h3>
    </div>
    <div class="govuk-grid-column-full">
      <div class="app-home-statuses">

          {% set statuses = ['Pending TRN', 'TRN received', 'Deferred', 'Recommended', 'Awarded', 'Withdrawn'] %}
          {% for status in statuses  %}
          {% set statusString = status %}
            {% if status == 'Recommended' %}
                {% set searchStatus = ['EYTS recommended', 'QTS recommended'] %}
                {% set recordCount = records | where("status", ['EYTS recommended', 'QTS recommended']) | length %}
                {% set statusString = "Qualification recommended" %}
              {% elif status == 'Awarded' %}
                {% set searchStatus = ['EYTS awarded', 'QTS awarded'] %}
                {% set recordCount = records | where("status", ['EYTS awarded', 'QTS awarded']) | length %}
                {% set statusString = "Qualification awarded" %}
              {% else %}
                {% set recordCount = records | where("status", status) | length %}
            {% endif %}
            {# {% if recordCount > 0 %} #}
                <a class="govuk-link" href="/records?filterStatus={{searchStatus or status}}" class="status-card status-card--{{ status | lower | kebabCase }}">
                  <span class="status-card__count">{{recordCount}}</span>
                  <span class="status-card__status">{{statusString}}</span><span class="govuk-visually-hidden"> records. View these records.</span>
                </a>
              {# {% endif %} #}
          {% endfor %}
      </div>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h2 class="govuk-heading-l">Guidance</h2>
      {# We need to split these pages #}
      <ul class="govuk-list govuk-list--spaced">
        <li><a class="govuk-link" href="/guidance#section-check-data">Find out about Register trainee teachers</a></li>
        <li><a class="govuk-link" href="/guidance#section-about-register">Check what data you need</a></li>
      </ul>
    </div>
  </div>

{% endblock %}
