{% set commencementStartDateArray = record.trainingDetails.commencementDate | toDateArray %}

{% set lateTraineeStartDateHTML %}
  {{ govukDateInput({
    id: "commencement-start-date",
    namePrefix: "record[trainingDetails][commencementDate]",
    fieldset: {
      legend: {
        text: "Trainee start date"
      }
    },
    items: [
        {
          name: "day",
          classes: "govuk-input--width-2",
          value: commencementStartDateArray["0"]
        },
        {
          name: "month",
          classes: "govuk-input--width-2",
          value: commencementStartDateArray["1"]
        },
        {
          name: "year",
          classes: "govuk-input--width-4",
          value: commencementStartDateArray["2"]
        }
      ]
  }) }}
{% endset -%}

{{ govukRadios({
  idPrefix: "trainee-started",
  name: "record[trainingDetails][traineeStarted]",
  fieldset: {
    legend: {
      text: pageHeading,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "The ITT started " + record.courseDetails.startDate | dateToGovukDate
  },
  items: [
    {
      value: "true",
      text: "Yes"
    },
    {
      value: "true",
      text: "No, they started later",
      conditional: {
        html: lateTraineeStartDateHTML
      }
    },
    {
      divider: "or"
    },
    {
      value: "false",
      text: "They have not started yet"
    }
  ]
}) }}

{{ govukButton({
  text: "Continue"
}) }}


